.app-contact-return-container {
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: large;
  color: var(--neutral-dark-gray);
}

.app-contact-return-container:hover {
  cursor: pointer;
  color: var(--primary-amber);
}

.contact-details-container {
  height: auto;
  width: 100%;
  overflow-y: auto;
}

.contact-details-container > hr {
  height: 2px;
  width: 94%;
  color: var(--neutral-light-gray);
  background-color: var(--neutral-light-gray);
  border-width: 0;
  margin: 50px auto;
}

.contact-management-actions-container {
  --padding-value: 20px;
  height: 60px;
  width: calc(100% - 2 * var(--padding-value));
  padding: var(--padding-value);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.contact-form-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 33.3% auto;
}

.contact-form-container > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.contact-form-container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px
}

.contact-form-container > div > div > p {
  font-size: small;
  color: var(--neutral-dark-gray);
}

.contact-form-container > div > div > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contact-activities-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-activities-container > app-activities {
  width: 98%;
}
