.app-header {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 10% auto 10%;
  color: var(--neutral-white);
  background-color: var(--primary-navy);
  box-shadow: 0 3px 10px var(--neutral-light-gray);
  z-index: 100;
  position: fixed;
}

.app-header > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-logout-icon:hover {
  cursor: pointer;
}
