/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

:root {
  --primary-navy: #1a3175;
  --primary-amber: #c99d0e;
  --neutral-graphite: #373737;
  --neutral-light-gray: #f3f3f3;
  --neutral-dark-gray: #6f6f6f;
  --neutral-white: #fcfcfc;
  --info: #4196ab;
  --success: #41ab87;
  --warning: #ab8d41;
  --danger: #ab4146;
}
